/BERC/nbproject/private/
/FinalProject_BERC/nbproject/private/
/FinalProject_BERC/dist/
/FinalProject_BERC/build/
/pdf generation/nbproject/private/
/pdf generation/build/
/pdf generation/dist/
FinalProject_BERC/EmpObjects.bin
FinalProject_BERC/EmpObjects.bin
